﻿@model AsgPortal.ViewModel.HomeViewModel
@{
    ViewBag.Title = "Followees";
}

<h2>@Model.Heading</h2>
<ul class="gigs voffset4">
    @foreach (var Event in Model.UpcomingEvents)
    {
        <li>
            @if (Event.IsFollowing)
            {
                <div class="artist">
                    @Event.UpcomingEvent.Organizer.Name
                    <button class="btn btn-link btn-sm js-toggle-follow" data-user-id="@Event.UpcomingEvent.OrganizerId">following</button>
                </div>
            }

        </li>
    }

</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        button.text("Follow")
                        alert("removed from following");
                    })
            });
        });
    </script>
}
