﻿body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
}

.voffset {margin-top: 2px;}
.voffset1 {margin-top: 5px;}
.voffset2 {margin-top: 10px;}
.voffset3 {margin-top: 20px;}
.voffset4 {margin-top: 50px;}
.voffset5 {margin-top: 80px;}

 /*Bootstrap overrides*/
.navbar-inverse {
    background-color: #304618;
    border-color: #ff4342;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: #61560e96;
        width: 190px;
    }

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow : none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;
}

body{
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 6px 20px;
    height: 40px;
    border-radius: 10px;
    -ms-border-radius: 10px;
}

.form-control:focus {
    border-color: #458cca;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    /*font-size: 17px;
    padding: 7px 20px;*/
    border-radius: 10px;
    -ms-border-radius: 10px;
}

/*Page level styles*/

.gigs {
    list-style: none;
}

.gigs > li{
    position: relative;
    margin-bottom: 30px;
}

.gigs > li .date {
    background: red;
    color: white;
    text-align: center;
    width: 60px;
    border-radius: 8px;
    -ms-border-radius: 8px;
}

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
}

.gigs > li .date .day {
    background: #f7f7f7;
    color: #333;
    font-size: 20px;
    padding: 6px 12px;
}

.gigs > li .details {
    position: absolute;
    top: 0px;
    left: 70px;
    width: 200px;
}

    .gigs > li .details .artist {
        font-weight: bold;
        display: block;
    }

    .gigs > li .details .genre {
        font-size: 15px;
    }

.event {
    color: white;
}

